<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>Hello, Rails!</h2>

<!-- The link_to method is one of Rails' built-in view helpers. It creates a hyperlink based on text to display and where to go - in this case, to the path for articles.

 -->
<%= link_to 'My Blog', controller:'articles' %>
